
@font-face {
	font-family: 'gilroyextrabold';
	src:
		url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
		url('../fonts/gilroyextrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gilroylight';
	src:
		url('../fonts/gilroylight-webfont.woff2') format('woff2'),
		url('../fonts/gilroylight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	background-color: #fff;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000;
}

input[type="text"],
input[type="email"],
textarea {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(242, 242, 242, 0.5);
	border: none;
}

input[type="text"]:hover::placeholder,
input[type="email"]:hover::placeholder,
textarea:hover {
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(234, 234, 234, 0.8);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	color: rgb(70, 70, 70);
	background-color: #fff;
	border: 3px solid rgba(240, 197, 46, 0.5);
}

input[type="text"]:invalid,
input[type="email"]:invalid,
textarea:invalid {
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(237, 181, 181, 0.5);
	border: none;
}

input[type="search"] {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;	
	color: rgba(0, 0, 0, 0.3);
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

input[type="search"]::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

input[type="search"]:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

input[type="search"]:focus {
	color: rgb(0, 0, 0);
	border-bottom: 2px solid black;
}

.header-top {
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom, #fff 11.75%, #f7e296 11.75%, #f7e296 88.25%, #f7e296 88.25%);
	display: flex;
	flex-direction: column;
}

.header-top-navigation ul {
	margin: 0;
	padding: 0;
}

.compare-cart li {
	display: inline;
}

.header-top-navigation {
	display: flex;
}

.header-main-menu > ul {
	margin: 0;
	padding: 0;
}

.main-menu > li {
	display: inline;
}

.header-top a:hover,
.footer-logo:hover,
.main-menu a:hover,
.footer-navigation a:hover,
.sub-menu a:hover {
	opacity: 0.6;
}

.header-top a:active,
.popular-items a:active,
.footer-logo:active,
.main-menu a:active,
.footer-login a:active,
.footer-compare-cart a:active,
.footer-navigation a:active,
.sub-menu a:active {
	opacity: 0.3;
}

.header-top-navigation a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	text-transform: none;
}

.sub-menu a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	color: #000;
	text-transform: none;
}

.header-top ul,
.popular ul,
.services-slider ul,
.logotypes ul,
.main-footer ul,
.inner-page ul {
	list-style: none;
}

.header-logo a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #000;
}

.search-btn {
	border: 2px solid #000;
	background-color: rgba(0, 0, 0, 0);
}

.search-btn:hover {
	background-color: #000;
	color: #fff;
}

.search-btn:active {
	background-color: #000;
	color: rgba(255, 255, 255, 0.3);
}

.slider h2 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	color: #000;
}

.product-properties {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
}

.popular-items a {
	text-transform: none;
}

.btn,
.slider-item-description a,
.contacts-block a {
	font-size: 18px;
	line-height: 24px;
	border: none;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	display: inline-block;	
	vertical-align: middle;
	position: relative;
	z-index: 1;
}

.btn::before,
.slider-item-description a::before,
.contacts-block a::before {
	content: "";
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
}

.btn:hover,
.slider-item-description a:hover,
.contacts-block a:hover {
	font-size: 18px;
	border: none;
	color: #000;
	background-color: rgb(240, 197, 46);
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	text-decoration: none;
}

.btn:active,
.slider-item-description a:active,
.contacts-block a:active {
	font-size: 18px;
	border: none;
	color: rgba(0, 0, 0, 0.3);
	background-color: rgb(240, 197, 46);
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	text-decoration: none;
}

.about-list {
	font-weight: bold;
	line-height: 40px;
	font-size: 16px;
}

.service-btn:active {
	border: none;
	color: #f7e184;
	background-color: #000;
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	text-decoration: none;
}

.btn:hover::before,
.slider-item-description a:hover::before,
.contacts-block a:hover::before,
.btn:active::before,
.slider-item-description a:active::before,
.contacts-block a:active::before,
.service-btn:active::before {
	content: none;
}

.slider-services {
	background: linear-gradient(to bottom, #fff 25%, #e5e5e5 25%, #e5e5e5 75%, #e5e5e5 75%);
	
}

.services-slider-item h2,
.contacts-block h2 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000;
}

.logo-list img {
	opacity: 0.2;
	width: 260px;
	height: 100px;
}

.dji:hover {
	background-image: url("../img/logo-1-c.png");
	background-repeat: no-repeat;
}

.sp:hover {
	background-image: url("../img/logo-2-c.png");
	background-repeat: no-repeat;
}

.gp:hover {
	background-image: url("../img/logo-3-c.png");
	background-repeat: no-repeat;
}

.vive:hover {
	background-image: url("../img/logo-4-c.png");
	background-repeat: no-repeat;
}

.main-footer {
	background-color: #464646;
}

.footer-logo {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #ffc600;
}

.footer-login a,
.footer-compare-cart a, {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
}

.footer-login a:hover,
.footer-compare-cart a:hover {
	color: rgba(255, 255, 255, 1);
}

.paragraph,
.paragraph a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	text-transform: none;
}

.footer-navigation a {
	color: #fff;
}

.map-popup img {
	width: 994px; 
	height: 593px;
	box-shadow: 10px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.inner-page h2 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000;
}

.breadcrumbs a{
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: none;
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.filters {
	background-color: #eeeeee;
}

.filters fieldset {
	border: none;
	border-top: 2px solid black;
	color: #000;
}

.filters h3,
.monopod-item h3 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
	background-color: rgba(166, 166, 166, 0.08);
}

.filters legend {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000;
}

.filter-item label {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	color: #000;
}

.filter-input:disabled + label {
	color: #a6a6a6;
}

.sorting-item a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: none;
}

.sorting-btn {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.sorting-btn:active,
.catalog-item-compare:hover {
	color: #000;
}

.catalog-item-compare {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	text-transform: none;
}

.catalog-item-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.catalog-item img {
	background-color: #efefef;
	width: 360px;
	height: 380px;
}

.catalog-item img:hover {
	background-color: rgba(0, 0, 0, 0.7); /*не работает, или же это свойство задаем ссылке класса catalog-item-hover?*/
}

.description {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	text-transform: none;
}

.catalog-item-price {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
}

.paginator-item a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;	
}

.paginator-list {
	background-color: rgba(235, 235, 235, 0.8);
}

.paginator-item-next a:hover,
.paginator-item-prev a:hover {
	color: #000;
	background-color: rgba(217, 217, 217, 0.8);
}

.paginator-item-next a:active,
.paginator-item-prev a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(217, 217, 217, 0.8);
}

 .sorting-btn-option,
.sorting-item-option a,
.paginator-item-page a {
	color: rgba(0, 0, 0, 0.3);
}

.sorting-btn-option:hover,
.sorting-item-option a:hover,
.paginator-item-page a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-btn-current,
.sorting-btn-current:hover,
.sorting-btn-current:active,
.sorting-btn-option:active,
.sorting-item-current a,
.sorting-item-current a:hover,
.sorting-item-current a:active,
.sorting-item-option a:active,
.paginator-item-current a,
.paginator-item-current a:hover,
.paginator-item-current a:active,
.paginator-item-page a:active {
	color: #000;
}