
@font-face {
	font-family: 'gilroyextrabold';
	src:
		url('../fonts/gilroyextrabold-webfont.woff2') format('woff2'),
		url('../fonts/gilroyextrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gilroylight';
	src:
		url('../fonts/gilroylight-webfont.woff2') format('woff2'),
		url('../fonts/gilroylight-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;

	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	background-color: #fff;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	color: #000;
}

img {
	max-width: 100%;
}

.user-data input,
.user-data textarea {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(242, 242, 242, 0.5);
	border: 3px solid transparent;
}

.user-data input:hover,
.user-data textarea:hover {
	background-color: rgba(234, 234, 234, 0.8);
}

.user-data input:hover::placeholder {
	color: rgba(70, 70, 70, 0.4);
}

.user-data input:focus,
.user-data textarea:focus {
	color: rgb(70, 70, 70);
	background-color: #fff;
	border: 3px solid rgba(240, 197, 46, 0.5);
}

.user-data input:invalid,
.user-data textarea:invalid {
	color: rgba(70, 70, 70, 0.4);
	background-color: rgba(237, 181, 181, 0.5);
}

.search-form input {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;	
	color: rgba(0, 0, 0, 0.3);
	border: 2px solid transparent;
	background-color: rgba(0, 0, 0, 0);
	padding: 0;
	padding-left: 35px;
	width: 100%;
}

.search-form {
	position: relative;
}

.search-form input::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus {
	color: rgb(0, 0, 0);
	border-bottom: 2px solid black;
}

.search-form input:focus + .search-btn {
	display: inline-block;	
}

.header-top a:hover,
.footer-logo:hover,
.main-menu a:hover,
.footer-navigation a:hover,
.sub-menu a:hover {
	opacity: 0.6;
}

.header-top a:active,
.popular-item p:active,
.footer-logo:active,
.main-menu a:active,
.footer-login-compare a:active,
.footer-navigation a:active,
.sub-menu a:active {
	opacity: 0.3;
}

.header-top-navigation a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	text-transform: none;
}

.sub-menu a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	color: #000;
	text-transform: none;
	letter-spacing: 0;
}

.sub-menu {
	display: flex;
	width: 1160px;
	z-index: 4;
	left: -57px;
	position: absolute;
	background-color: #f7e296;
	flex-wrap: wrap;
}

.sub-menu li {
	box-sizing: border-box;
}

.sub-menu li:first-child {
	flex-basis: 260px;
	padding-top: 23px;
	padding-right: 19px;
	box-sizing: border-box;
	order: 1;
}

.sub-menu li:nth-child(2) {
	flex-basis: 260px;
	padding-right: 47px;
	padding-top: 9px;
	box-sizing: border-box;
	order: 4;
}

.sub-menu li:nth-child(3) {
	flex-basis: 260px;
	padding-right: 47px;
	padding-top: 9px;
	padding-bottom: 10px;
	box-sizing: border-box;
	order: 6;
}

.sub-menu li:nth-child(4) {
	flex-basis: 240px;	
	padding-right: 37px;	
	padding-top: 23px;
	box-sizing: border-box;
	order: 2;
}

.sub-menu li:nth-child(5) {
	flex-basis: 490px;
	box-sizing: border-box;
	padding-top: 9px;
	margin-right: 350px;
	order: 5;
}

.sub-menu li:last-child {
	flex-basis: 250px;
	padding-right: 99px;	
	padding-top: 23px;
	padding-left: 0;
	margin-right: 350px;
	box-sizing: border-box;
	order: 3;
}

.header-top ul,
.popular ul,
.services-slider ul,
.logotypes ul,
.main-footer ul,
.inner-page ul {
	list-style: none;
}

.header-logo a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #000;

}

.header-logo {
	margin: 0;
	padding: 0;
	padding-bottom: 18px;	
	padding-top: 16px;
}

.inner-logo a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #000;

}

.inner-logo {
	margin: 0;
	padding: 0;
	padding-bottom: 18px;
	padding-top: 3px;
}

.search-btn {
	border: 2px solid #000;
	background-color: rgb(247, 226, 150);
	display: none;
	position: absolute;
	top: -15px;
	left: 362px;
	padding: 15px 19px 13px;
	box-sizing: border-box;
}

.search-btn:hover {
	background-color: #000;
	color: #fff;
	display: inline-block;
}

.search-btn:active {
	background-color: #000;
	color: rgba(255, 255, 255, 0.3);
}

.slider-item h2 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 47px;
	line-height: 56px;
	color: #000;
	margin: 0;
	outline: 2px solid gray;
}

.product-properties {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0;
}

.product-description {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0;
}

.popular-items a {
	text-transform: none;
	letter-spacing: 0;
}

.product {
	width: 510px;
	padding: 0;
	padding-top: 40px;

	outline: 2px solid gray;
}


.btn,
.slider-item-description a,
.contacts-block a {
	font-size: 18px;
	line-height: 24px;
	border: none;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	display: inline-block;	
	vertical-align: middle;
	position: relative;
	z-index: 1;
	padding: 10px 0;
	letter-spacing: 4px;
	width: 160px;
	box-sizing: border-box;
}

.slider-item-description a {
	width: 220px;
	padding: 10px 43px 10px 44px;
	box-sizing: border-box;
}

.btn::before,
.slider-item-description a::before,
.contacts-block a::before {
	content: "";
	position: absolute;
	top: 18px;
	left: 0;
	right: 0;
	height: 8px;
	background: #f0c52e;
	z-index: -1;
}

.btn:hover,
.slider-item-description a:hover,
.contacts-block a:hover {
	font-size: 18px;
	border: none;
	color: #000;
	background-color: rgb(240, 197, 46);
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	text-decoration: none;
}

.btn:active,
.slider-item-description a:active,
.contacts-block a:active {
	font-size: 18px;
	border: none;
	color: rgba(0, 0, 0, 0.3);
	background-color: rgb(240, 197, 46);
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	text-decoration: none;
}

.about-list {
	font-family: gilroyextrabold, Arial, sans-serif;
	line-height: 40px;
	font-size: 16px;
	letter-spacing: 0;
}

.service-btn:active,
.active,
.active:hover,
.active:active {
	border: none;
	color: #f7e184;
	background-color: #000;
	text-transform: uppercase;
	font-family: gilroyextrabold, Arial, sans-serif;
	text-decoration: none;
	width: 280px;
	padding-right: 115px;
	box-sizing: border-box;
}




.services-slider-list li:first-child {
	margin-bottom: 25px;
}

.services-slider-list li:nth-child(2) {
	margin-bottom: 20px;
}

.btn:hover::before,
.slider-item-description a:hover::before,
.contacts-block a:hover::before,
.btn:active::before,
.slider-item-description a:active::before,
.contacts-block a:active::before,
.service-btn:active::before,
.service-btn:active::before,
.active::before {
	content: none;
}

.services-slider {
	background: linear-gradient(to bottom, #fff 25%, #e5e5e5 25%, #e5e5e5 75%, #e5e5e5 75%);
	margin-bottom: 106px;
}

.services-slider-item h2,
.contacts-block h2 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000;
	margin-bottom: 30px;
}

.services-slider-item h2 {
	margin: 0;
	padding-top: 73px;
	padding-bottom: 15px;
}

.services-slider-item p {
	letter-spacing: 0;
}

.logo-list img {
	opacity: 0.2;
	width: 260px;
	height: 100px;
}

.dji:hover {
	background-image: url("../img/logo-1-c.png");
	background-repeat: no-repeat;
}

.sp:hover {
	background-image: url("../img/logo-2-c.png");
	background-repeat: no-repeat;
}

.gp:hover {
	background-image: url("../img/logo-3-c.png");
	background-repeat: no-repeat;
}

.vive:hover {
	background-image: url("../img/logo-4-c.png");
	background-repeat: no-repeat;
}

.main-footer {
	padding-top: 58px;
	background-color: #464646;
}

.footer-logo {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 48px;
	line-height: 48px;
	text-transform: uppercase;
	color: #ffc600;
	flex-basis: 180px;
}

.footer-login-compare a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	letter-spacing: 0;
}

.footer-login-compare a:hover {
	color: rgba(255, 255, 255, 1);
}

.paragraph,
.paragraph a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
	text-transform: none;
	letter-spacing: 0;
}

.footer-navigation a {
	color: #fff;
	letter-spacing: 4px;
}

.map-popup {
	width: 960px; 
	height: 559px;
	box-shadow: 5px 5px 20px 5px rgba(4, 6, 6, 0.2);
	position: relative;
}

.modal-map {
	position: absolute;
	top: 1855px;
	left: 150px;
	z-index: 1;
}

.inner-page h2 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: #000;
}

.breadcrumbs a{
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: none;
	letter-spacing: 0;
}

.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}


.filters fieldset {
	border: none;
	color: #000;
}

.monopod-item-filter h3 {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
	/*background-color: rgba(166, 166, 166, 0.08);*/
}

.filters legend {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000;
}

.filter-item label {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	color: #000;
}

.filter-input:disabled + label {
	color: #a6a6a6;
}

.sorting-item a {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: none;
	letter-spacing: 0;
}

.sorting-btn {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000;
	text-transform: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.sorting-btn:active,
.catalog-item-compare:hover {
	color: #000;
}

.catalog-item-compare {
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	text-transform: none;
}

.catalog-item-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.catalog-item img {
	background-color: #efefef;
	width: 360px;
	height: 380px;
}

.card-price {
	display: flex;
	width: 360px;
	margin: 0;
	padding: 0;
	margin-top: 24px;
	justify-content: space-between;
}

.card-price a {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	text-transform: none;
	letter-spacing: 0;
}

.card-price b {
	font-family: gilroylight, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
	letter-spacing: 0;
}

.description {
	flex-basis: 260px;
	box-sizing: border-box;
}

.catalog-item-price {
	flex-basis: 80px;
	padding-left: 16px;
	box-sizing: border-box;
}

.paginator-item a,
.paginator-item {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;	
}

.paginator-list {
	background-color: rgba(235, 235, 235, 0.8);
}

.paginator-item-next:hover,
.paginator-item-prev:hover {
	color: #000;
	background-color: rgba(217, 217, 217, 0.8);
}

.paginator-item-next:active,
.paginator-item-prev:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: rgba(217, 217, 217, 0.8);
}

.sorting-btn-option,
.sorting-item-option a,
.paginator-item-page a {
	color: rgba(0, 0, 0, 0.3);
}

.sorting-btn-option:hover,
.sorting-item-option a:hover,
.paginator-item-page a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-btn-current,
.sorting-btn-current:hover,
.sorting-btn-current:active,
.sorting-btn-option:active,
.sorting-item-current a,
.sorting-item-current a:hover,
.sorting-item-current a:active,
.sorting-item-option a:active,
.paginator-item-current a,
.paginator-item-current a:hover,
.paginator-item-current a:active,
.paginator-item-page a:active {
	color: #000;
}

.feedback {
	width: 960px;
	height: 553px;
	background-color: #fff;
	box-shadow: 5px 5px 20px 5px rgba(4, 6, 6, 0.2);
	margin-left: 100px;
	position: relative;
	z-index: 1;
}

.modal-feedback {
	position: absolute;
	top: 1057px;
	left: 50px;
}

.user-data {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 760px;
	padding: 95px 100px 0;
	justify-content: space-between;
}

.feedback-input:first-child,
.feedback-input:nth-child(2) {
	flex-basis: 360px;
	padding: 0;
	margin: 0;
}

.feedback-input input {
	width: 100%;
	padding: 15px 20px;
	box-sizing: border-box;
	margin-bottom: 15px;
}

.feedback-area {
	flex-basis: 760px;
	margin-bottom: 35px;
}

.feedback-area textarea {
	width: 100%;
	padding: 17px 20px;
	min-height: 156px;
	box-sizing: border-box;
}

.feedback-input label,
.feedback-area label {
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	padding-bottom: 9px;
}

.feedback-btn {
	flex-basis: 200px;
	padding: 10px 35px 10px 36px;
	box-sizing: border-box;
}

.popular ul {
	margin: 0;
	padding: 0;
}

.popular {
	margin-bottom: 65px;
}

.popular-img {
	width: 160px;
	height: 145px;;
	background-color: #f7e296;
}

.popular-img:hover {
	background-color: #f0c52e;
}

.popular-img:active {
	background-color: #f0c52e;
}

.popular-item p {
	padding-top: 15px;
	letter-spacing: 0;
}

/*  */

.header-top {
	margin: 0;
	padding: 0 60px 0 57px;
	background: linear-gradient(to bottom, #fff 11.75%, #f7e296 11.75%, #f7e296 88.25%, #f7e296 88.25%);
	display: flex;
	flex-direction: column;
	align-content: space-around;	
	/*margin-bottom: 58px;*/
}

.header-top-navigation ul {
	margin: 0;
	padding: 0;
}

.header-top-navigation {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-basis: 100%;
}

.search-form {
	flex-basis: 43%;
}

.header-login-compare,
.header-login-inner {
	flex-basis: 48%;
	display: flex;
	justify-content: space-between;
	letter-spacing: 0;
}

.header-login-inner li:first-child {
	flex-basis: 160px;
	padding-left: 27px;
	box-sizing: border-box;
	position: relative;
}

.header-login-inner li:nth-child(2) {
	flex-basis: 100px;
	opacity: 0.3;
	box-sizing: border-box;
	padding-left: 18px;
}

.header-login-inner li:nth-child(3) {
	flex-basis: 100px;
	margin-left: 20px;
	padding-left: 27px;
	box-sizing: border-box;
	position: relative;
}

.header-login-inner li:last-child {
	flex-basis: 100px;
	margin-left: 20px;
	padding-left: 41px;
	box-sizing: border-box;
	position: relative;
}

.header-login-compare li:first-child {
	flex-basis: 50%;
	padding-left: 27px;
	position: relative;
}

.header-login-compare li:nth-child(2) {
	flex-basis: 18%;
	padding-left: 27px;
	margin: 0 5px;
	position: relative;
}

.header-login-compare li:last-child {
	padding-left: 41px;	
	position: relative;
}

.header-main-menu ul {
	margin: 0;
	padding: 0;
}

.header-main-menu {
	padding-bottom: 157px;
}

.inner-menu {
	padding-bottom: 45px;
}

.main-menu ul {
	margin: 0;
	padding: 0;
	padding-top: 23px;
	padding-left: 57px;
	display: none;
	box-sizing: border-box;
}

.main-menu > li:first-child:hover .sub-menu {
	display: flex;
}

.main-menu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-basis: 100%;
	position: relative;
	letter-spacing: 4px;
}


.main-menu > li:first-child {
	flex-basis: 300px;
	position: relative;
}

.main-menu > li:first-child::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 3px;
	background-color: #b8a974;
	top: 14px;
	right: 45px;
}

.main-menu > li:first-child::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 3px;
	background-color: #b8a974;
	transform: rotate(90deg);
	top: 14px;
	right: 45px;
	z-index: 1;
}

.main-menu > li:nth-child(2) {
	flex-basis: 160px;
	margin-left: 250px;
}

.main-menu > li:nth-child(3) {
	flex-basis: 120px;
}

.main-menu > li:last-child {
	flex-basis: 120px;
	margin-left: 100px;
}

.slider {
	/*padding-bottom: 478px;*/
	padding-bottom: 0;
	top: -110px;
	position: relative;

	outline: 2px solid red;
}

.slider-item {
	margin: 0;
	padding: 0;
	display: flex;
	/*flex-basis: 1100px;*/
}

.slider-item img {
	flex-basis: 400px;
	padding-left: 20px;
	box-sizing: border-box;
	margin-left: 70px;

	outline: 2px solid green;
}

.slider-item:nth-child(2) {
	/*position: absolute;
	top: -115px;
	left: 0;*/
	/*padding-left: 20px;*/
	box-sizing: border-box;
	z-index: 1;

}

.slider-item:nth-child(3) {
	/*position: absolute;
	top: -120px;
	left: 0;*/
	z-index: 2;
	display: none;		
}

.slider-item:last-child {
	/*position: absolute;
	top: -150px;
	left: 0;*/
	z-index: 1;
	display: none;
}

.long-stick {
	width: 384px;
	height: 486px;
}

.fitness-bracelet {
	width: 345px;
	height: 485px;
}

.quadrupter {
	width: 526px;
	height: 334px;
}

.slider-item-description {
	flex-basis: 480px;
	padding-top: 81px;
	margin-left: 129px;
	box-sizing: border-box;
	position: relative;

	outline: 2px solid yellow;
}

.slider-item-description::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 7px;
	background-color: #fff;
	top: 38px;
	left: 0;
}

.slider-item-description::after {
	content: "01";
	font-family: gilroyextrabold, Arial, sans-serif;
	font-size: 179.2px;
	line-height: 179.2px;
	color: #fff;
	width: 166px;
	height: 203px;
	position: absolute;
	top: -10px;
	right: 15px;
}

.slider-item-description p {
	margin: 0;
	padding-top: 18px;
	padding-bottom: 43px;
	letter-spacing: 0;

	outline: 2px solid brown;
}

.popular-items {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.popular-item {
	width: 160px;
}

.slider-middle {
	margin: 0;
	padding: 0;
	display: flex;
	flex-basis: 860px;
	padding-bottom: 127px;
}

.slider-middle ul {
	margin: 0;
	padding: 0;
}

.slider-services {
	flex-basis: 280px;
	padding-top: 73px;
	position: relative;
}

.slider-services::after {
	content: "";
	position: absolute;
	width: 7px;
	height: 319px;
	background-color: #000;
	top: 0;
	right: -5px;
}

.slider-services ul {
	margin: 0;
	padding: 0;
}

.slider-item-services {
	flex-basis: 460px;
	margin-left: 120px;
	box-sizing: border-box;
	padding-right: 35px;
	position: relative;
}

.delivery-slide {
	position: absolute;
}

.guarantee-slide {
	position: absolute;
	top: -207px;
	display: none;
}

.credit-slide {
	position: absolute;
	top: -414px;
	display: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.logotypes ul {
	margin: 0;
	padding: 0;
}

.logo-list {
	display: flex;
	justify-content: space-around;
}

.contacts-block {
	display: flex;
	justify-content: space-between;
	padding-top: 90px;
	padding-bottom: 93px;
}

.about-us {
	width: 475px;
	position: relative;
}

.about-us ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.about-us p,
.about-us h2,
.contacts h2,
.contacts p {
	letter-spacing: 0;
}

.about-us h2,
.contacts h2 {
	padding-bottom: 10px;
}

.about-us p,
.contacts p {
	margin-bottom: 30px;
}

.about-us a {
	width: 260px;
	padding-left: 23px;
	box-sizing: border-box;
}

.contacts a {
	width: 260px;
	padding-left: 41px;
	box-sizing: border-box;
}

.contacts {
	width: 560px;
	position: relative;
}

.contacts img {
	width: 560px;
	height: 222px;
	margin-top: 10px;
	margin-bottom: 60px;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	padding: 2px 0 9px;
	flex-basis: 100%;
}

.footer-top ul {
	margin: 0;
	padding: 0;
	justify-content: flex-end;
}

.footer-login-main,
.footer-inner {
	display: flex;
	width: 480px;
}

.footer-login-main li:first-child {
	margin-right: 44px;
	position: relative;
	/*flex-basis: 69px;*/
	padding-left: 27px;
}

.footer-login-main li:nth-child(2) {
	margin-right: 41px;
	position: relative;
	/*flex-basis: 89px;*/
	padding-left: 20px;
}

.footer-login-main li:last-child {
	margin-right: 0;
	position: relative;
	/*flex-basis: 82px;*/
	padding-left: 24px;
}

.footer-inner li:first-child {
	flex-basis: 180px;
	padding-left: 29px;
	padding-right: 20px;
	box-sizing: border-box;
	position: relative;
}

.footer-inner li:nth-child(2) {
	flex-basis: 88px;
	padding-right: 44px;
	box-sizing: border-box; 
	opacity: 0.3;
	position: relative;
}

.footer-inner li:nth-child(3) {
	flex-basis: 113px;
	padding-left: 20px;
	padding-right: 23px;
	box-sizing: border-box;
	position: relative;
}

.footer-inner li:last-child {
	flex-basis: 100px;
	padding-left: 42px;
	box-sizing: border-box;
	position: relative;
}

.footer-main-menu ul {
	margin: 0;
	padding: 0;
}

.footer-middle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 45px;
}

.footer-navigation {
	display: flex;
}

.footer-navigation li {
	padding-right: 30px;
	padding-top: 3px;
}

.footer-bottom-container {
	display: flex;
	flex-basis: 100%;
	justify-content: flex-end;
	padding-bottom: 67px;
	position: relative;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	flex-basis: 660px;
	position: relative;
}

.footer-bottom ul {
	margin: 0;
	padding: 0;
}

.footer-social {
	flex-basis: 160px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.social-btn {
	width: 32px;
	height: 32px;
}

.social-btn:first-child {
	flex-basis: 60px;	
	box-sizing: border-box;
}

.social-btn:nth-child(2) {
	flex-basis: 40px;
	box-sizing: border-box;
}

.social-btn:last-child {
	flex-basis: 60px;
	box-sizing: border-box;
}

.page-title {
	margin: 0;
	padding: 0;
}

.inner-header {
	margin-bottom: 40px;
}

.page-menu {
	padding-left: 60px;
	padding-bottom: 30px;
}

.page-menu ul {
	margin-left: 0;
	padding: 0;
}

.breadcrumbs {
	display: flex;
}

.breadcrumbs li {	
	padding-right: 40px;
}

.filter-options fieldset,
.filter-color ul,
.filter-bluetooth ul {
	margin: 0;
	padding: 0;
	letter-spacing: 0;
}

.filter-options {
	padding-top: 85px;
}


.filter-color  legend {
	padding-top: 55px;
	padding-bottom: 18px;
}

.filter-bluetooth legend {
	padding-top: 45px;
	padding-bottom: 16px;
}

.monopod-item-filter {
	width: 100%;
	background: linear-gradient(to right, #dbdbdb 50%, #ebebeb 50%);
}

.filter-sorting {
	display: flex;
}

.filter-title,
.filters {
	flex-basis: 328px;
	padding-left: 60px;
	box-sizing: border-box;
}

.filter-title {
	background-color: #dbdbdb;
}

.filter-title h3 {
	letter-spacing: 3px;
	padding: 6px 0;
}

.filters {
	background-color: #ebebeb;
}

.monopod-item-sorting {
	flex-basis: 832px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 72px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: #ebebeb;
	box-sizing: border-box;
}

.monopod-item-sorting h3 {
	letter-spacing: 4px;
}

.sorting-title {
	width: 160px;
}

.monopod-item-sorting ul {
	margin: 0;
	padding: 0;
}

.sorting {
	flex-basis: 460px;
}

.sorting  li {
	display: inline;
}

.sorting-item:first-child {
	flex-basis: 60px;
}

.sorting-item:nth-child(2) {
	flex-basis: 80px;
	margin-left: 20px;
	padding-left: 5px;
	padding-right: 22px;
	box-sizing: border-box;
}

.sorting-item:last-child {
	flex-basis: 140px;
	box-sizing: border-box;
}

.filter-btn {
	margin-top: 30px;
	width: 200px;
}

.ascending-descendingly {
	flex-basis: 60px;

	position: relative;
}

.ascending-descendingly li {
	display: inline;
}

.filters-monopod {
	background: linear-gradient(to right, #ebebeb 50%, #fff 50%);	
}

.filter-column {
	display: flex;
	justify-content: space-between;
}

.monopod-item ul {
	margin: 0;
	padding: 0;
}

.monopod-item {
	flex-basis: 832px;
	padding-left: 72px;
	padding-bottom: 57px;
	padding-top: 72px;
	background-color: #fff;
	box-sizing: border-box;
}

.catalog-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-list ul {
	margin: 0;
	padding: 0;
}

.catalog-item {
	width: 360px;
	margin-bottom: 47px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.paginator-list ul {
	margin: 0;
	padding: 0;
}

.paginator-list {
	display: flex;
	justify-content: center;
	flex-basis: 760px;
	align-items: center;
	margin: 0;
}

.paginator-list a {
	margin: 0;
	padding-top: 27px;
	padding-bottom: 24px;
}

.paginator-list-page {
	display: flex;
	justify-content: center;
	flex-basis: 500px;
}

.paginator-list-page a {
	padding: 0;
}

.paginator-list-page li:first-child {
	flex-basis: 10px;
	margin-left: 60px;
	padding-left: 2px;
	box-sizing: border-box;
}

.paginator-list-page li:nth-child(2) {
	flex-basis: 10px;
	margin-left: 30px;
	box-sizing: border-box;
}

.paginator-list-page li:last-child {
	flex-basis: 10px;
	margin-left: 30px;
	box-sizing: border-box;
}

.paginator-item-prev {
	padding-left: 30px;
	flex-basis: 100px;
	box-sizing: border-box;
	letter-spacing: 4px;
}

.paginator-item-next {
	flex-basis: 160px;
	padding-left: 55px;
	padding-right: 25px;
	box-sizing: border-box;
	letter-spacing: 4px;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;	
}

.slider-elements {
	display: flex;
	width: 480px;
	justify-content: space-between;
	align-items: center;
}



/*Декоративные элементы index*/

/*Иконка поиска*/

.search-icon {
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
	background-position: 0 center;
}

/*Иконка перед кнопкой "Войти"*/

.header-login-compare li:first-child::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 1px;
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-compare li:first-child:hover::before {
	opacity: 0.6;
}

.header-login-compare li:first-child:active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Сравнить"*/

.header-login-compare li:nth-child(2)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	left: 7px;
	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-compare li:nth-child(2):hover::before {
	opacity: 0.5;
}

.header-login-compare li:nth-child(2):active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Корзина*/

.header-login-compare li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 17px;
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-compare li:last-child:hover::before {
	opacity: 0.8;
}

.header-login-compare li:last-child:active::before {
	opacity: 0.3;
}

/*Иконки для блока "Популярные товары"*/

.vr,
.selfie,
.cameras,
.bracelets,
.clock,
.quadrupters {
	position: relative;
	padding-bottom: 15px;
}

.vr::before {
	content: "";
	width: 97px;
	height: 95px;
	position: absolute;
	top: 53px;
	left: 32px;
	background-image: url("../img/popular-1.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.selfie::before {
	content: "";
	width: 86px;
	height: 117px;
	position: absolute;
	top: 43px;
	left: 39px;
	background-image: url("../img/popular-2.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.cameras::before {
	content: "";
	width: 71px;
	height: 87px;
	position: absolute;
	top: 38px;
	left: 49px;
	background-image: url("../img/popular-3.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.bracelets::before {
	content: "";
	width: 107px;
	height: 65px;
	position: absolute;
	top: 50px;
	left: 28px;
	background-image: url("../img/popular-4.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.clock::before {
	content: "";
	width: 56px;
	height: 98px;
	position: absolute;
	top: 32px;
	left: 55px;
	background-image: url("../img/popular-5.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.quadrupters::before {
	content: "";
	width: 132px;
	height: 69px;
	position: absolute;
	top: 49px;
	left: 13px;
	background-image: url("../img/popular-6.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.vr:active::before,
.selfie:active::before,
.cameras:active::before,
.bracelets:active::before,
.clock:active::before,
.quadrupters:active::before {
	opacity: 0.3;
}

/*Иконки после слайдов в разделе "Сервисы"*/

.services-slider-item {
	position: relative;
}

.services-slider-item:first-child::after {
	content: "";
	width: 137px;
	height: 164px;
	position: absolute;
	top: 83px;
	left: 557px;
	background-image: url("../img/delivery.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.services-slider-item:nth-child(2)::after {
	content: "";
	width: 172px;
	height: 196px;
	position: absolute;
	top: -14px;
	left: 543px;
	background-image: url("../img/warranty.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.services-slider-item:last-child::after {
	content: "";
	width: 156px;
	height: 188px;
	position: absolute;
	top: -13px;
	left: 535px;
	background-image: url("../img/credit.svg");
	background-repeat: no-repeat;
	background-position: center;
}

/*Горизонтальные линии перед блоком "О нас" и "Контакты"*/

.about-us::before {
	content: "";
	width: 80px;
	height: 7px;
	top: -10px;
	position: absolute;
	background-color: black;
}

.contacts::before {
	content: "";
	width: 80px;
	height: 7px;
	top: -10px;
	position: absolute;
	background-color: black;
}

/*Иконка перед кнопкой "Войти" в футере*/

.footer-login-main li:first-child::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/user-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-login-main li:first-child:hover::before {
	opacity: 0.6;
}

.footer-login-main li:first-child:active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Сравнить" в футере*/

.footer-login-main li:nth-child(2)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/compare-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-login-main li:nth-child(2):hover::before {
	opacity: 0.5;
}

.footer-login-main li:nth-child(2):active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Корзина" в футере*/

.footer-login-main li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/cart-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-login-main li:last-child:hover::before {
	opacity: 0.8;
}

.footer-login-main li:last-child:active::before {
	opacity: 0.3;
}

/*Логотип HTML академии*/
.htmlacademy-logo {
	padding-left: 20px;
	position: relative;
	width: 47px;
	box-sizing: border-box;
}

.htmlacademy-logo::before {
	content: "";
	width: 27px;
	height: 36px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("../img/logo-html.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.htmlacademy-logo:hover::before {
	opacity: 0.6;
}

.htmlacademy-logo:active::before {
	opacity: 0.3;
}

/*Иконки социальных сетей*/

.social-fb {
	padding-left: 9px;
	padding-right: 19px;
	position: relative;
}

.social-in {
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
}

.social-tw {	
	padding-left: 18px;
	padding-right: 10px;
	position: relative;
}

.social-fb::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.social-in::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("../img/instagram.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.social-tw::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	background-image: url("../img/twitter.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;	
}

.social-fb:hover::before,
.social-in:hover::before,
.social-tw:hover::before {
	opacity: 0.6;
}

.social-fb:active::before,
.social-in:active::before,
.social-tw:active::before {
	opacity: 0.1;
}

.footer-bottom-container::before {
	content: "";
	width: 80px;
	height: 7px;
	position: absolute;
	background-color: #ffc600;
	top: 13px;
	left: 0;
}

/*Slider-top*/

.slider-radio {
	width: 114px;
}

.slider-radio ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-switch  {
	display: flex;
	justify-content: space-between;

	outline: 2px solid black;
}

#slide1:checked ~ .slider label[for="slide1"],
#slide2:checked ~ .slider label[for="slide2"],
#slide3:checked ~ .slider label[for="slide3"] {
	opacity: 1;
}

#slide1:checked ~ .slider .slide1,
#slide2:checked ~ .slider .slide2,
#slide3:checked ~ .slider .slide3 {
	display: block;
}

/*Декоративные элементы catalog*/

/*Иконка перед кнопкой "Войти"*/

.header-login-inner li:first-child::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 1px;
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-inner li:first-child:hover::before {
	opacity: 0.6;
}

.header-login-inner li:first-child:active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Сравнить"*/

.header-login-inner li:nth-child(3)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	left: 7px;
	background-image: url("../img/compare.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-inner li:nth-child(3):hover::before {
	opacity: 0.5;
}

.header-login-inner li:nth-child(3):active::before {
	opacity: 0.3;
}

/*Иконка перед кнопкой "Корзина*/

.header-login-inner li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 9px;
	left: 17px;
	background-image: url("../img/cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-login-inner li:last-child:hover::before {
	opacity: 0.8;
}

.header-login-inner li:last-child:active::before {
	opacity: 0.3;
}

/*Иконки в "теекущем" меню*/

.breadcrumbs li:first-child {
	position: relative;
}

.breadcrumbs li:first-child::after {	
	content: "";
	position: absolute;
	width: 4px;
	height: 7px;
	top: 13px;
	right: 20px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li:nth-child(2) {
	position: relative;
}

.breadcrumbs li:nth-child(2)::after {	
	content: "";
	position: absolute;
	width: 4px;
	height: 7px;
	top: 13px;
	right: 20px;
	background-image: url("../img/nav-arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.up-sort{
	content: "";
	position: absolute;
	width: 10px;
	height: 11px;
	top: -7px;
	left: 19px;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.2;
}

.down-sort{
	content: "";
	position: absolute;
	width: 10px;
	height: 11px;
	top: -7px;
	right: 0;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

/*Горизонтальные линии в фильтрах*/
/*Горизонтальная линия перед "стоимость"*/

.filter-price legend {
	position: relative;
}

.filter-price legend::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	top: -13px;
	left: -1px;
	background-color: #000;
}

/*Горизонтальная линия перед "Цвет"*/

.filter-color legend {
	position: relative;
}

.filter-color legend::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	top: 43px;
	left: -1px;
	background-color: #000;
}

/*Горизонтальная линия перед "Bluetooth"*/

.filter-bluetooth legend {
	position: relative;
}

.filter-bluetooth legend::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	top: 31px;
	left: -1px;
	background-color: #000;
}

/*Кнопки при наведении на карточку товара*/

.hover-img {
	position: relative;
}

.hover-btn {
	position: absolute;	
	top: 0;
	left: 0;
	height: 380px;
	width: 360px;
	padding-top: 150px;
	padding-left: 80px;
	box-sizing: border-box;
	background-color: rgba(238, 238, 238, 0.7);
	cursor: pointer;
	display: none;
	/*width: 100%;
	min-height: 90%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;*/
}

.catalog-item-hover .btn {
	width: 200px;
	/*flex-basis: 100%;*/
	padding-left: 36px;
	padding-right: 40px;
	box-sizing: border-box;
	letter-spacing: 2px;
}

.catalog-item-compare {
	width: 200px;
	padding-right: 21px;
	padding-left: 28px;
	box-sizing: border-box; 
	letter-spacing: 0;
}

.hover-img:hover .hover-btn {
	display: flex;
}

/*Стилизация checkbox у фильтра по цвету*/

.filter-checkbox {
	position: relative;
	padding-left: 38px;
}

.filter-checkbox .filter-input + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-checkbox .filter-input:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin solid;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox .filter-input:checked + .checkbox-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-checkbox .filter-input:hover + .checkbox-indicator,
.filter-checkbox .filter-input:checked:hover + .checkbox-indicator {
	opacity: 0.6;
}

.filter-checkbox .filter-input:active + .checkbox-indicator,
.filter-checkbox .filter-input:checked:active + .checkbox-indicator {
	opacity: 1;
}

.filter-checkbox .filter-input:disabled + .checkbox-indicator,
.filter-checkbox .filter-input:checked:disabled + .checkbox-indicator,
.filter-checkbox .filter-input:disabled ~ .color-disabled {
	opacity: 0.25;
}

/*Стилизация radio у фильтра bluetooth*/

.filter-radio {
	position: relative;
	padding-left: 38px;
}

.filter-radio .filter-input + .radio-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-radio .filter-input:focus + .radio-indicator {
	border-color: #663d15;
	outline: thin solid;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter-radio .filter-input:checked + .radio-indicator {
	position: absolute;
	top: -2px;
	left: -2px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-on.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.filter-radio .filter-input:hover + .radio-indicator,
.filter-radio .filter-input:checked:hover + .radio-indicator {
	opacity: 0.6;
}

.filter-radio .filter-input:active + .radio-indicator,
.filter-radio .filter-input:checked:active + .radio-indicator {
	opacity: 1;
}

.filter-radio .filter-input:disabled + .radio-indicator,
.filter-radio .filter-input:checked:disabled + .radio-indicator,
.filter-radio .filter-input:disabled ~ .bluetooth-disabled {
	opacity: 0.25;
}

/*Иконка в футере у пользователь*/

.footer-inner li:first-child::before {
	content: "";
	width: 13px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/user-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-inner li:first-child:hover::before {
	opacity: 0.6;
}

.footer-inner li:first-child:active::before {
	opacity: 0.3;
}

/*Иконка в футере у меню "Сравнить"*/

.footer-inner li:nth-child(3)::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 12px;
	left: 0;
	background-image: url("../img/compare-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-inner li:nth-child(2):hover::before {
	opacity: 0.5;
}

.footer-inner li:nth-child(2):active::before {
	opacity: 0.3;
}

/*Иконка в футере у меню "Корзина"*/

.footer-inner li:last-child::before {
	content: "";
	width: 12px;
	height: 12px;
	position: absolute;
	top: 12px;
	left: 18px;
	background-image: url("../img/cart-footer.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.footer-inner li:last-child:hover::before {
	opacity: 0.8;
}

.footer-inner li:last-child:active::before {
	opacity: 0.3;
}

/*Кнопка закрытия у блока "Напишите нам"*/

.feedback-close-btn {
	content: "";
	position: absolute;
	width: 55px;
	height: 55px;
	top: 22px;
	right: 22px;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
}

.feedback-close-btn:hover {
	opacity: 1;
}

.feedback-close-btn:active {
	opacity: 0.3;
}

/*Кнопка закрытия у интерактивной карты*/

.map-close-btn {
	content: "";
	position: absolute;
	width: 55px;
	height: 55px;
	top: 22px;
	right: 22px;
	font-size: 0;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.5;
}

.map-close-btn:hover {
	opacity: 1;
}

.map-close-btn:active {
	opacity: 0.3;
}